server:
  port: 8082
eureka:
  instance:
    hostname: 192.168.1.15
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
spring:
  security:
    user:
      name: none
      password: none
